<!DOCTYPE HTML>
<html>
<head>
<title>Lime</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/lib/layui/css/layui.css" />
</head>
<body>

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="/" class="logo">Lime</a>
		<nav id="nav">
			<a href="/">Home</a>
			<a href="/">Lime</a>
			<a href="/">Demo</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>

<!-- Banner -->
<section id="banner">
	<h1>Welcome to Theory</h1>
	<p>A free responsive HTML5 website template by TEMPLATED.</p>
</section>

<!-- One -->
<section id="one" class="wrapper">
	<div class="inner">
		<div class="flex flex-3">
			<article>
				<header>
					<h3>Magna tempus sed amet<br /> aliquam veroeros</h3>
				</header>
				<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>
			<article>
				<header>
					<h3>Interdum lorem pulvinar<br /> adipiscing vitae</h3>
				</header>
				<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>
			<article>
				<header>
					<h3>Libero purus magna sapien<br /> sed ullamcorper</h3>
				</header>
				<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>
		</div>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
	<div class="inner">
		<header>
			<h2>Ipsum Feugiat</h2>
			<p>Semper suscipit posuere apede</p>
		</header>
		<div class="flex flex-4">
			<div class="box person">
				<div class="image round">
					<img src="/static/images/pic03.jpg" alt="Person 1" />
				</div>
				<h3>Magna</h3>
				<p>Cipdum dolor</p>
			</div>
			<div class="box person">
				<div class="image round">
					<img src="/static/images/pic04.jpg" alt="Person 2" />
				</div>
				<h3>Ipsum</h3>
				<p>Vestibulum comm</p>
			</div>
			<div class="box person">
				<div class="image round">
					<img src="/static/images/pic05.jpg" alt="Person 3" />
				</div>
				<h3>Tempus</h3>
				<p>Fusce pellentes</p>
			</div>
			<div class="box person">
				<div class="image round">
					<img src="/static/images/pic06.jpg" alt="Person 4" />
				</div>
				<h3>Dolore</h3>
				<p>Praesent placer</p>
			</div>
		</div>
	</div>
</section>

<!-- Three -->
<section id="three" class="wrapper special">
	<div class="inner">
		<header class="align-center">
			<h2>Demo</h2>
			<p>demo demo demo</p>
		</header>

		<div class="flex flex-2">
			<article>
				<div id="chart1" style="width:100%; height:100%;"></div>
			</article>
			<article>
				<div class="image fit">
					<img src="/static/images/pic02.jpg" alt="Pic 02" />
				</div>
				<header>
					<h3>Fusce pellentesque tempus</h3>
				</header>
				<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
				<footer>
					<a href="#" class="button special">More</a>
				</footer>
			</article>
		</div>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<div class="flex">
			<div class="copyright">
				Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://www.freemoban.com/">www.freemoban.com</a>
			</div>
			<ul class="icons">
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
				<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
				<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
			</ul>
		</div>
	</div>
</footer>

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
<script src="/static/lib/layui/layui.all.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
<script>
    $(function(){
        window.onscroll = function () {
            //console.log(document.documentElement.scrollTop);
            var scrollTop = document.documentElement.scrollTop;
            /*1.默认的透明度*/
            var opacity = 0;
            if (scrollTop > '50') {
                /*2.当页面滚动的时候---随着页面卷曲的高度变大透明度变大*/
                //opacity = scrollTop / height * 0.85;
                $('#header').addClass('heads');
            } else {
                /*3.当页面滚动的时候---超过某一个高度的时候透明度不变*/
                //opacity = 0.85;
                $('#header').removeClass('heads');
            }
            //searchBox.style.background = 'rgba(201,21,35,' + opacity + ')';
        }

        var myChart = echarts.init(document.getElementById('chart1'));

        var labelRight = {
            position: 'right'
        };
        var option = {
            title: {
                text: '交错正负轴标签',
                subtext: 'From ExcelHome',
                sublink: 'http://e.weibo.com/1341556070/AjwF2AgQm'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                }
            },
            grid: {
                top: 80,
                bottom: 30
            },
            xAxis: {
                type: 'value',
                position: 'top',
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                }
            },
            yAxis: {
                type: 'category',
                axisLine: {show: false},
                axisLabel: {show: false},
                axisTick: {show: false},
                splitLine: {show: false},
                data: ['ten', 'nine', 'eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']
            },
            series: [
                {
                    name: '影响力',
                    type: 'bar',
                    stack: '总量',
                    label: {
                        show: true,
                        formatter: '{b}'
                    },
                    data: [
                        {value: -0.07, label: labelRight},
                        {value: -0.09, label: labelRight},
                        0.2, 0.44,
                        {value: -0.23, label: labelRight},
                        0.08,
                        {value: -0.17, label: labelRight},
                        0.47,
                        {value: -0.36, label: labelRight},
                        0.18
                    ]
                }
            ]
        };

        myChart.setOption(option);



    })

</script>
</body>
</html>